[submodule "imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/qt-android-cmake"]
	path = tools/qt-android-cmake
	url = https://github.com/LaurentGomila/qt-android-cmake.git
[submodule "implot"]
	path = modules/implot
	url = https://github.com/epezent/implot.git
